[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/lib/jenkins/workspace/dagizo_CICD/app
ExecStart=gunicorn app.wsgi:application
#ExecStart=/var/lib/jenkins/workspace/dagizo_CICD/env/bin/gunicorn app.wsgi:application

[Install]
WantedBy=multi-user.target
